@page
@model RazorPagesTool.Pages.Tools.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Краткая справка об инструменте @Html.DisplayFor(model => model.Tool.Title)</h1>

<div>
    <h4>Этот инструмент очень полезен в работе с деревом</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Назад к перечню инструментов</a>
</div>
